h1 {
background: red;
color: blue;
}

h2 {
background: green;
color: yellow;
}

h3 {
background: yellow;
color: green;
}
.paragraph-1 {
background: blue;
font-size: 32pt;
color: green;
}

.paragraph-2 {
border: 10px solid yellow;
border-radius: 5px;
font-size: 24pt;
margin-bottom: 60px;
padding-bottom: 60 px;
padding-left: 20px;
}

.paragraph-3 {
border: 10px solid green;
border-radius: 3px;
font-size: 28px;
margin-bottom: 50x;
padding-bottom: 50px;
padding-left: 30px;
font-weight: bold;
font-family: Corier New;
}
